asgiref==3.5.1
attrs==21.4.0
backports.zoneinfo==0.2.1
blis==0.7.7
branca==0.5.0
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
cymem==2.0.6
Django==4.0.4
Fiona==1.8.21
folium==0.12.1.post1
fonttools==4.33.3
geographiclib==1.52
geopandas==0.10.2
geopy==2.2.0
idna==3.3
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
langcodes==3.3.0
MarkupSafe==2.1.1
matplotlib==3.5.2
munch==2.5.0
murmurhash==1.0.7
nltk==3.7
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
pathy==0.6.1
Pillow==9.1.0
preshed==3.0.6
pydantic==1.8.2
pyparsing==3.0.8
pyproj==3.3.1
python-dateutil==2.8.2
pytz==2022.1
regex==2022.4.24
requests==2.27.1
requests-oauthlib==1.3.1
Shapely==1.8.1.post1
six==1.16.0
smart-open==5.2.1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
sqlparse==0.4.2
srsly==2.4.3
thinc==8.0.15
tqdm==4.64.0
tweepy==4.8.0
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
wasabi==0.9.1
whitenoise==6.0.0
