
<h2>Select the source of the data</h2>
<br>
    <div class="container">
        <div class="row">
        <div class="col-sm-3  bg-success btn btn-success card text-white" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          <div class="card-body">

            New York Police Department
            
          </div>
         
        </div>
        
        <div class="col-sm-1 "> </div>

        <div class="col-sm-3 btn-info bg-info card text-white" role="button">
          <a href="{% url 'dashboard-twitter' %}" style="text-decoration: none; text-align: center;">
            <div class="card-body text-white">
              Twitter
            </div>
          </a>
        </div>
        <div class="col-sm-1 "> </div>
        <div class="col-sm-3 btn btn-warning bg-warning card text-white">
          <a href="{% url 'dashboard-newsfeed' %}" style="text-decoration: none; text-align: center;">
            <div class="card-body text-white">
              News Feed
            </div>
          </a>
        </div>
      </div>

      <br>
     
</div>
<div class="container">

    <div class="row">
        <div class="collapse" id="collapseExample">
          <div class="col-sm-12 card card-body">
       
    
                  <div class=col-sm>
                      <a class="btn btn-primary" role="button" href="{% url 'dashboard-nypdtype' %}" >
                          Search By Crime Type
                        </a>
                   </div>
                   <br>
                   <div class=col-sm>
                      <a class="btn btn-primary" role="button" href="{% url 'dashboard-nypdlocation' %}">
                        Search By Crime Location
                        </a>
                   </div>
    
              
           
          </div>
        </div>
        </div>
        

</div>

      
 
