<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    body {
        margin-left: 100px;
    }
</style>
</head>
<body>
<form action="{% url 'plot' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %} 
  <label for="crimetype">Select Crime type: </label>
  <select name="crimetype" id="crimetype">
    <option value="22Q2">Larceny</option>
    <option value="29H1">Harassment</option>
    <option value="39T1">Trespassing</option>
    <option value="20R">Roberry</option>
    <option value="53D">Dispute</option>
    <option value="24Q2">Assault</option>
    <option value="50G2">Disorderly Conduct</option>
    <option value="10S2">Shooting</option>
    <option value="33">Explosion</option>
    <option value="29Q1">Other</option>
  </select>

  <br><br>
  <input type="submit">
  {% csrf_token %} 
</form>
<br><br>
<br><br>
<div class="container">
  {% if plot %}
  <img src="data:image/png;base64, {{ plot|safe }}"/> 
  {% else %}

  {% endif %}
</div>
</body>
</html> 