<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    <title>CPA Crime Type Search</title>
  </head>
    
  <body class="container">
      
      <div class="col-sm" style="font-family:; font-size: 40px;">
            <center><b>SELECT A TYPE OF CRIME</b></center>
      </div>
      
<!--
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
-->
      <div class="py-3"></div>
      <div class="container">
          <div class="row">
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Larceny</a>
            </div>
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Harassment</a>
            </div>
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Robbery</a>
            </div>
          </div>
          <div class="py-2"></div>
          <div class="row">
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Assault</a>
            </div>
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Disorderly conduct</a>
            </div>
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Dispute</a>
            </div>
          </div>
          <div class="py-2"></div>
          <div class="row">
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Explosive Device</a>
            </div>
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Trespass</a>
            </div>
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Shots fired</a>
            </div>
          </div>
          <div class="py-2"></div>
          <div class="row">
            <div class="col-sm">
<!--              <a class="btn btn-outline-primary btn-block" href="#" role="button">Link</a>-->
            </div>
            <div class="col-sm">
              <a class="btn btn btn-outline-dark btn-block" href="#" role="button">Others</a>
            </div>
            <div class="col-sm">
<!--              <a class="btn btn-outline-primary btn-block" href="#" role="button">Link</a>-->
            </div>
          </div>
        </div>
      
<!--      LARCENY-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>larceny</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">noun</p>  
          stealing, especially (in the US) the crime of taking something that does not belong to you, without illegally entering a building to do so
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>larceny includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. from a person</p>
          <p>2. from a vehical</p>
          <p>3. from a limited access highway</p>
      </div>
          
      </div>
      
<!--      HARASSMENT-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>harassment</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">noun</p>  
          behaviour that annoys or upsets someone
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>harassment includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. verbal harassment</p>
          <p>2. physical harassment</p>
          <p>3. sexual harassment</p>
          <p>4. indoor</p>
          <p>5. outdoor</p>
      </div>
          
      </div>
      
<!--      ROBBERY-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>robbery</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">noun</p>  
          the crime of stealing from somewhere or someone
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>robbery includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. burglary</p>
          <p>2. in residence</p>
          <p>3. in banks</p>
          <p>4. alarms</p>
      </div>
          
      </div>
      
<!--      ASSAULT-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>assault</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">noun</p>  
          act of inflicting physical harm or unwanted physical contact upon a person.
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>assault includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. knife</p>
          <p>2. weapons</p>
          <p>3. shots</p>
          <p>4. child abuse</p>
      </div>
          
      </div>
      
      
<!--      DISORDERLY CONDUCT-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>disorderly conduct</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">noun</p>  
          unruly behaviour constituting a minor offence.
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>disorderly conduct includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. by a group</p>
          <p>2. by a person</p>
          <p>3. by noise</p>
      </div>
          
      </div>
      
<!--      DISPUTE-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>dispute</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">noun</p>  
          an argument or disagreement, especially an official one between, for example, workers and employers or two countries with a common border
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>dispute includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. vehicle accident</p>
          <p>2. in family</p>
          <p>3. knife</p>
          <p>4. firearm</p>
          <p>5. violation of protective order</p>
      </div>
          
      </div>
      
<!--      EXPLOSIVE DEVICE-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>explosive device</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">noun</p>  
          device that relies on the exothermic reaction of an explosive material to provide a violent release of energy.
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>explosive device includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. bomb</p>
      </div>
          
      </div>
      
<!--      TRESPASS-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>trespass</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">verb</p>  
          to go onto someone's land or enter their building without permission.
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>trespass includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. farebeat</p>
          <p>2. indoor</p>
          <p>3. outdoor</p>
      </div>
          
      </div>
      
<!--      SHOTS FIRED-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>shots fired</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">verb</p>  
           indicates that a firearm has been discharged in the vicinity of the speaker.
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>shots fired includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. transit</p>
          <p>2. indoor</p>
          <p>3. outdoor</p>
      </div>
          
      </div>
      
<!--      OTHERS-->
      <div class="py-3"></div>
      
      <div class="" style="border-style: solid; border-width: 4px; border-radius: 10px; border-color: blueviolet">
      
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>others</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p class="font-italic">noun</p>  
           indicates crimes that do not lie in any specified category.
      </div>
          
      <div class="py-3"></div>
      <div class="col-sm" style="font-family:; font-size: 30px;">
            <b>others includes</b>
      </div>
      <div class="col-sm" style="font-family:; font-size: 20px;">
          <p>1. criminal mischief</p>
          <p>2. graffiti vandalism</p>
          <p>3. marijuana</p>
      </div>
          
      </div>
      
<!--      STATISTICS-->
      <div class="py-5"></div>
      <div class="container">
      <div class="card-deck ">
          <div class="card" style="background-color: lightcoral">
            <div class="card-body">
              <h5 class="card-title">Borough with maximum cases of *name of crime* is</h5>
              <p class="card-text font-italic">NAME OF THE BOROUGH</p>
              <center><h1 class="card-text">21%</h1></center><p class="card-text">of total *name of crime* cases are in this borough.</p>
                
              
            </div>
          </div>
          <div class="card" style="background-color: darkorange">
            <div class="card-body">
              <h5 class="card-title">Total number of *name of crime* cases</h5>
                <div class="py-4"></div>
              <center><h1 class="card-text">250</h1></center>
                
              
            </div>
          </div>
          <div class="card">
            <div class="card-body" style="background-color: deepskyblue">
              <h5 class="card-title">Borough with minimum cases of *name of crime* is</h5>
              <p class="card-text font-italic">NAME OF THE BOROUGH</p>
              <center><h1 class="card-text">21%</h1></center><p class="card-text">of total *name of crime* cases are in this borough.</p>
                
              
            </div>
          </div>
          
        </div>
          </div>
      
      
      <div class="py-3"></div>
      
      
<!--      PUT HEATMAP HERE-->
      
      
      <div class="py-3"></div>
      
      
      
      
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>