
    <!-- 

  {% url 'index' %}
  {% url 'dashboard-nypdtype' %}
  {% url 'dashboard-nypdlocation' %}
  {% url 'dashboard-twitter' %}
  {% url 'dashboard-newsfeed' %}
 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CPA Home Page</title>
 

  <!-- Favicons -->
  
  <link href="/media/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/media/assets/vendor/aos/aos.css" rel="stylesheet">
  <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="/media/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/media/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/media/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/media/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/media/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Day - v4.7.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  

  

  <!-- ======= Carousel Section ======= -->
  
    <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel" data-interval="2500">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item drk active" >
          <img class="d-block h-100" src="/media/assets/img/project/police_carousel_2.jpg" alt="First slide" style="width: 100%; height:100%;object-fit: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item drk">
          <img class="d-block w-100 h-100" src="/media/assets/img/project/nypost_carousel_6_black.png" alt="Third slide" style="width: 100%; height:100%; object-fit: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item drk">
          <img class="d-block w-100 h-100" src="/media/assets/img/project/reading_carousel_7.jpg" alt="Third slide" style="width: 100%; height:100%; object-fit: cover;">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item drk">
          <img class="d-block w-100 h-100" src="/media/assets/img/project/twitter_carousel_2.jpg" alt="Second slide" style="width: 100%; height:100%;object-fit: cover; ">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <div class="maintext" id="maintext">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
          <h1>Welcome to <span style="color: red;"> Cpa</span> Portal</h1>
          <h2>This portal will allow you to visualize crime prone areas for New York City</h2>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
</div>

  <main id="main">

    <!-- ======= About Section ======= -->
    <br></br>
    <section id="about" class="about">
      <div class="container">

        <div class="row">
         
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="zoom-in">
            <div class="section-title">
              <span>ABOUT THE PROJECT</span>
              <h2>ABOUT THE PROJECT</h2>
              <hr style="background-color: red; width:550px"></hr>
            </div>
            
            
            <p class="fst-italic">
             

            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Through this project we aim to utilize the power of Machine Learning to tackle the increasing criminal activity in our society. </li>
              <li><i class="bi bi-check-circle"></i> We can identify the crime prone areas by analysing the historic data from emergency services. </li>
              <li><i class="bi bi-check-circle"></i> Further, we aim to build a solution for predictive policing that is able to predict the type of crime, given the location. </li>
              <li><i class="bi bi-check-circle"></i> This solution will help the authorities continually identify areas prone to crimes and policing-related incidents. </li>
              <li><i class="bi bi-check-circle"></i>This in turn will make deployments and patrolling in those areas more effective and thereby preempt and prevent any untoward incidents that could result in an emergency. </li>
            </ul>
      
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


     <!-- ======= Source of Data Section ======= -->
     <section id="services" class="services">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <span>SELECT A SOURCE OF DATA</span>
          <h2>SELECT A SOURCE OF DATA</h2>
          <hr style="background-color: red; width:550px"></hr>
          <p >The data has been collected via 3 different sources. Read the description of the method of data collection
            and select the souce accordingly</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
                <center><img  src="/media/assets/img/project/nypd_logo.png" alt="Card image cap" style="width: 200px; height:200px; "></center><hr>
                  <h4><a href="">NYPD Historic Data</a></h4>
                  <p >This data is obtained from the official NYC OpenData <a class="" href="https://data.cityofnewyork.us/Public-Safety/NYPD-Calls-for-Service-Year-to-Date-/n2zq-pubd">website.</a>
                  The dataset consists of crime data from 2021. </p>
                  <center>
                 <br></br>
                  
                  <div class="py-4"></div>
                  <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select Option
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href=" {% url 'dashboard-nypdlocation' %}">Analyze data using LOCATION as input</a>
                        <a class="dropdown-item" href="{% url 'dashboard-nypdtype' %}">Analyze data using TYPE OF CRIME as input</a>
                      </div>
                  </div>
                  </center>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
                <center><img  src="/media/assets/img/project/twitter_logo.png" alt="Card image cap" style="width: 200px; height:200px; "></center><hr>
                  <h4><a href="">Twitter Data</a></h4>
                  <p >This data is being extracted from @NYPDNews and @NYPDTips twitter handles. <a class="" href="https://twitter.com/NYPDnews">Source</a> </p>
                  <center>
                    <div class="py-5"></div>
                  <center><a href="{% url 'dashboard-twitter' %}"  id="dropdownMenuButton" class="btn btn-danger">View Crime Prone Areas</a></center>
                  </center>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
                <center><img  src="/media/assets/img/project/news_logo.png" alt="Card image cap" style="width: 200px; height:200px; "></center><hr>
                  <h4><a href="">Data from News feed</a></h4>
                  <p >This data has been extracted from New York Post website's crime section.<a class="" href="https://nypost.com/tag/crime/">Source</a> </p>
                  <center>
                  <br></br>
                  <br></br>
                  <center><a href="{% url 'dashboard-newsfeed' %}"  id="dropdownMenuButton" class="btn btn-danger">View Crime Prone Areas</a></center>
                  
                  </center>
            </div>
          </div>

        
        </div>
      </div>
    </section><!-- Source of Data Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>ABOUT US</h3>
          <p> We are a group of students from the Information Technology department of K.J. Somaiya College of Engineering pursuing our Bachelor's in Technology degree. We saw a need for a system which helps with the identification of crime prone areas as this is a problem statement released by the Bureau of Police Research and Development (BPR-D) in coordination with the Innovation Cell of the Ministry of Education and AICTE in Manthan 2021.</p>
          
        </div>

      </div>
    </section><!-- End Cta Section -->


    
    
   
    
    

  


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Vendor JS Files -->
  <script src="/media/assets/vendor/aos/aos.js"></script>
  <script src="/media/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/media/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/media/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/media/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/media/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/media/assets/js/main.js"></script>

  

</body>

</html>