<!-- <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    
</style>
</head>
<body>
    <div class="container">
  <hr></hr>
  <div class="row">
    <div class="col-sm-2">
        <div class="card" id="heading">
            <div class="card-body">
              <h5 class="card-title">Brooklyn</h5>          
              <p class="card-text">{{brooklyn|safe}}</p>               
            </div>
          </div>
    </div>
    <div class="col-sm-2">
        <div class="card" id="heading">
            <div class="card-body">
              <h5 class="card-title">Bronx</h5>          
              <p class="card-text">{{bronx|safe}}</p>               
            </div>
          </div>
    </div>
    <div class="col-sm-2">
        <div class="card" id="heading">
            <div class="card-body">
              <h5 class="card-title">Manhattan</h5>          
              <p class="card-text">{{manhattan|safe}}</p>               
            </div>
          </div>
    </div>
    <div class="col-sm-2">
        <div class="card" id="heading">
            <div class="card-body">
              <h5 class="card-title">Queens</h5>          
              <p class="card-text">{{queens|safe}}</p>               
            </div>
          </div>
    </div>
    <div class="col-sm-2">
        <div class="card" id="heading">
            <div class="card-body">
              <h5 class="card-title">Staten Island</h5>          
              <p class="card-text">{{statenIsland|safe}}</p>               
            </div>
          </div>
    </div>
    
    </div>
  </div>
  
</body>
</html>  -->

<!DOCTYPE html>
    <html lang="en" dir="ltr">
    
    <head>
      <meta charset="utf-8">
      
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
   
     
    
      <!-- Favicons -->
      <link href="/media/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
   
    
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
      <!-- Vendor CSS Files -->
      <link href="/media/assets/vendor/aos/aos.css" rel="stylesheet">
      <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
      <link href="/media/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
      <link href="/media/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="/media/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
      <link href="/media/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    
      <!-- Template Main CSS File -->
      <link href="/media/assets/css/style.css" rel="stylesheet">
   
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
     <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  -->
      <!-- =======================================================
      * Template Name: Day - v4.7.0
      * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ======================================================== -->
    </head>
    
    <body>
<div class="py-5"></div>
<section id="services" class="services">
  <div class="container">
<div class="section-title" data-aos="fade-up">
  <span>TWEETS EXTRACTED TWITTER HANDLES</span>
  <h2>TWEETS Are EXTRACTED FROM THE FOLLOWING TWITTER HANDLES</h2>
  <hr style="background-color: red; width:550px"></hr>
</div>
<div class="row">

  <div class="col-lg-2 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
    
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
    <div class="icon-box">
        <center><img  src="/media/assets/img/project/nynews_logo_new.png" alt="Card image cap" style="width: 200px; height:200px; "></center><hr>
          <h4><a href="">NYPD News </a><img class="card-img-top" src="/media/assets/img/project/twitter_tick.png" alt="Card image cap" style="width: 23px; height:23px; "></h4>
          <p><strong>@NYPDnews</strong></p>
          <p >This is the official Twitter account of the New York City Police Dept.  Latest updates of crimes and wanted 
            criminals are posted on this account. 200 latest tweets have been extracted from the feed of 
            the account. Access the dataset <a class="" href="https://www.kaggle.com/datasets/shubhambhakuni/crimetweetsdatasets">here</a></p>
          <center>
            <div class="py-5"></div>
          <center><a href="https://twitter.com/NYPDnews"  id="dropdownMenuButton" class="btn">Visit Handle</a></center>
          </center>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
    <div class="icon-box">
        <center><img  src="/media/assets/img/project/nytips_logo_new.png" alt="Card image cap" style="width: 200px; height:200px; "></center><hr>
          <h4><a href="">NYPD Crime Stoppers </a><img class="card-img-top" src="/media/assets/img/project/twitter_tick.png" alt="Card image cap" style="width: 23px; height:23px; "></h4>
          <p><strong>@NYPDTips</strong></p>
          <p >This is an account handled by the NYPD. The public can send anonymous tips to this 
            handle and in return receive upto $3500 reward for a tip that leads to arrest. 200 latest tweets have 
            been extracted from the feed of the account. Access the dataset <a class="" href="https://www.kaggle.com/datasets/shubhambhakuni/crimetweetsdatasets">here</a></p>
          <center>
          <br></br>
          <br></br>
          <center><a href="https://twitter.com/NYPDTips"  id="dropdownMenuButton" class="btn">Visit Handle</a></center>
          
          </center>
    </div>
  </div>


</div>
</div>

</section>
<hr style="background-color: red; width:550px"></hr>
<section id="services" class="services">

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box" style="width:500px;">
              <!-- <h4 style="font-size: 20px;"><a href="">Borough with Maximum Cases of Harassment is </a></h4> -->
              <h4 style="font-size: 20px;"><a href="">Total Tweets</a></h4>
              <h4 style="font-size: 25px;"><a href="">400</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box" style="width:500px;">
          <h4 style="font-size: 20px;"><a href="">Tweets related to crime</a></h4>
              <h4 style="font-size: 25px;"><a href="">278</a></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
        <div class="icon-box" style="width:500px;">
          <h4 style="font-size: 20px;"><a href="">Tweets not related to crime</a></h4>
              <h4 style="font-size: 25px;"><a href="">122</a></h4>
        </div>
      </div>
    </div>
  </div>
</section><!--row -->

<div class="section-title" data-aos="fade-up">    
  <span>New York City map crime prone areas</span>    
  <h2>New York City map depicting the crime prone areas</h2>
  <hr style="background-color: red; width:550px"></hr>
  <p>Zoom in/out to see specific location. (Blue markers indicate the crime location while the circles with numbers in them indicate a group of crimes reported</p>
</div>
<div class="container" data-aos="fade-up">
  <div class="row">
   
    <div class="col-lg-10">
      {% include 'partials/folium_output.html' %}
    </div>
  </div>
</div>


<div class="section-title" data-aos="fade-up">    
  <span>Borough-wise distribution of cases</span>    
  <h2>Borough-wise distribution of cases</h2>
  <hr style="background-color: red; width:550px"></hr>
  <p>New York City is divided into 5 boroughs as mentioned below. Borough is a term used for a town or district which is an administrative unit.</p>
</div>

<div class="container" data-aos="fade-up">

<center><p>
          
  <a class="btn" style="background-color:#cc1616; color: white;" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Brooklyn</a>
  <button class="btn" style="background-color:#cc1616; color: white;" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Bronx</button>
  <button class="btn" style="background-color:#cc1616; color: white;"  type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Manhattan</button>
  <button class="btn" style="background-color:#cc1616; color: white;"  type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Queens</button>
  <button class="btn" style="background-color:#cc1616; color: white;" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">Staten Island</button>
  <button class="btn" style="background-color:#cc1616; color: white;" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">ALL</button>

  
      
</p></center>

</div>
  
<div class="py-3"></div>  

<div class="row">
  <div class="col" data-aos="fade-up">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        25
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        24
      </div>
    </div>
  </div>
    <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample3">
      <div class="card card-body">
        23
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample4">
      <div class="card card-body">
        22
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample5">
      <div class="card card-body">
        21
      </div>
    </div>
  </div>
</div>
</div>
<div class="py-2"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3">   
    </div>
    <div class="col-md-6">
      <canvas id="myChart" width="200" height="200" data-aos="fade-up"></canvas>
    </div>

  </div>
  
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{%block scripts%}

<script> 
// CHART 1
var ctx = document.getElementById('myChart').getContext('2d'); 

var myChart = new Chart(ctx, {
             type: 'bar',
             data: {labels: ['Brooklyn','Bronx', 'Manhattan', 'Queens', 'Staten Island'],         
             datasets: [{
             label: 'Number of Crimes',             
             data: [25,24,23,22,21,20,26],  
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              
            ],
            borderWidth: 1         
             }]},
             options: {
        scales: {
            y: {
              min: 19,
              max: 25,
            }
            
        }
    }
            });
            </script>
{%endblock scripts%}
<div class="py-5"></div>
<div class="py-5"></div>

 
   
 
  <!-- Preloader -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

 
  <!-- Vendor JS Files -->
  <script src="/media/assets/vendor/aos/aos.js"></script>
  <script src="/media/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/media/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/media/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/media/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/media/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/media/assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
 </html>


